html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
.remark{
	font-size: 16px;
	position: relative;
	width: 420px;
	padding: 20px 10px 15px;
	border-bottom: 1px dotted #999;
}
.remark h3{
	font-weight: bold;
	height: 30px;
	text-align: left;
}
.remark img{
	margin: 5px 0 6px;
}
.remark p{
	margin-top: 10px;
	margin-bottom: 5px;
	width: 400px;
	text-align: justify;
	text-indent: 2em;
	font-size: 14px;
	line-height: 24px;
	word-spacing: 0.2em;

	/*height: 80%;*/
}
.remark span{
	position: absolute;
	bottom: 10px;
	font-size: 10px;
	left: 10px;
}
/*.remark span:nth-child(5n+1){
	left: 2px;
	border: solid 2px #fff; 
}*/
.remark span:last-child{
	left: auto;
	right: 10px;
} 
.banner button{
	outline:none;
}

.button_left{
	width: 36px;
	height: 57px;
	position:fixed;
	background-image: url(../img/left.png);
	left: 5px;
	top: 50%;
}
.button_right{
	width: 36px;
	height: 57px;
	background-image: url(../img/right.png);
	position:fixed;
	top: 50%;
	right:5px;
}

