html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}


/*head*/

.head{
	left: 200px;
	top: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	margin: 20 50px;
	float: left;
}
.head .list{
	float: left;
	list-style: none;
	font-size: 30px; 
	color: black;
	margin: 15px 20px;
}
.head .list li{ 
	text-align: left;
	float: left;
	font-size: 18px; 
	color: blue; 
	margin: 15px 20px;
}


/*banner*/
.banner{ padding: 0 40px;}
.banner img{
	width: 100%;
	margin: 10px 10px;
}
/*context*/
.context{
	padding: 0;
	margin: 0;
}

/*footer*/


/*container*/
.article{
	float: left;
	width: 70%;
}
.aside{
	float: right;
	width: 30%;
}
.article, .aside{
	/*border: solid #f00 2px;*/
	box-sizing: border-box;
	text-align: left;
}
.article ul{
	text-indent: 1em;
	text-align: left;
	line-height: 50px;
	font-size: 14px;
	/*border: solid #f00 2px;*/
	margin-left: 0;
}
.article ul:nth-child(2n+1){
	background-color: #fbfbfd;
}
.article ul li:first-child{
	width: 46px;
	margin:0 auto;
}
.article ul li:nth-child(9n+2){
	width: 330px;
	/*background-color: #31c27c;*/
	margin:0 auto;
}
.article ul li:nth-child(9n+4){
	width: 160px;
	/*background-color: #31c27c;*/
	margin:0 auto;
}
.article ul li{
	text-indent: 1.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 120px;
	/*background-color: #31c27c;*/
	margin:0 auto;
}
.article ul li:last-child{	
	width: 80px;
}
.aside{
	padding-left: 3em;
}
.aside h3{
	font-size: 20px;
}
.aside p,{
	width: 90%;
	margin-top: 1em;
	text-align: left;
}