<!-- Main component for a primary marketing message or call to action -->
<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
            <div class="row">
                <video controls="controls" class="col-sm-12" src="{{ video_url }}"></video>
            </div>
        </div><!--/.sidebar-offcanvas-->
{#        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">#}
{#            <div class="list-group">#}
{#                {% for item in top_movie %}#}
{#                    <a href="#"#}
{#                       class="list-group-item active">{{ item.title }}</a>#}
{#                {% endfor %}#}
{#            </div>#}
        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->

    <hr>


</div><!--/.container-->

