<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">
        <style>
            .item{
                height: 400px;
            }
            .item h2{
                height: 40px;
            }
            .item p{
                line-height: 30px;
            }
        </style>
        <div class="col-xs-9 col-sm-9">
            <div class="row">
                {% for item in movie %}
                    <div class="col-xs-6 col-lg-4 item">
                        <h2>{{ item.title }}</h2>
                        <p>{{ item.genres }}</p>
                        <p>
                            <img src="{{ item.img_url }}">
                        </p>
                        <br>
                        <p>
                            <a class="btn btn-default" href="{{ item.imdbId }}"
                               role="button">播放 &raquo;</a>
                            <a class="btn btn-default" href="{{ item.tmdbId }}"
                               role="button">详情 &raquo;</a></p>
                    </div><!--/.col-xs-6.col-lg-4-->
                {% endfor %}
            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                {% for item in top_movie %}
{#                    <a href="{{ item.video_url }}"#}
{#                       class="list-group-item active">{{ item.title }}</a>#}
                {% endfor %}
            </div>
        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->

    <hr>
    <p>
                <button type="button" class="btn btn-info" id="last_page_to">
                    上一页
                </button>
                <button value="{{ page_info.min_page_index }}"
                        class="btn btn-default"
                        id="min_page_index">{{ page_info.min_page_index }}</button>

                <input name="to_page" id="page_id"
                       value="{{ page_info.page_id }}" type="number"
                       class="btn btn-default">

                <button type="button" class="btn btn-default" id="to_page"
                        value="{{ page_info.count }}">跳转
                </button>
                <button value="{{ page_info.max_page_index }}"
                        class="btn btn-default"
                        id="max_page_index">{{ page_info.max_page_index }}</button>
                <button type="button" class="btn btn-info" id="next_page_to">
                    下一页
                </button>
                <a href="{{ url_for('search_movie', d_type='movie') }}"></a>
            </p>

</div><!--/.container-->
