<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard for movie site</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='dist/css/bootstrap.min.css') }}"
          rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/dashboard.css') }}"
          rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">后台管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
{#                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a>#}
{#                </li>#}
{#                <li><a href="#">Reports</a></li>#}
{#                <li><a href="#">Analytics</a></li>#}
{#                <li><a href="#">Export</a></li>#}
            </ul>
            <ul class="nav nav-sidebar">
                <li>
                    <a href="{{ url_for('get_detail', d_type="movie") }}">电影信息</a>
                </li>
                <li>
                    <a href="{{ url_for('get_detail', d_type="user") }}">用户信息</a>
                </li>
                <li><a href="{{ url_for('get_detail', d_type='u_record') }}">用户播放记录</a>
                </li>
                <li><a href="{{ url_for('get_detail', d_type='movie_url') }}">电影资源管理</a>
                </li>
                <li><a href="{{ url_for('get_detail', d_type='movie_total') }}">电影热度统计</a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
{#                <li><a href="">Nav item again</a></li>#}
{#                <li><a href="">One more nav</a></li>#}
{#                <li><a href="">Another nav item</a></li>#}
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% if movie_type %}
                {% block movie_detail %}
                {% endblock %}
            {% endif %}

            {% if user_type %}
                {% block user_detail %}
                {% endblock %}
            {% endif %}

            {% if user_record_type %}
                {% block user_record_detail %}
                {% endblock %}
            {% endif %}

            {% if movie_url_type %}
                {% block movie_url_edit %}
                {% endblock %}
            {% endif %}

            {% if total_type %}
                <div class="container">
                    <canvas id="barChart" width="1200px" height="500px"></canvas>
                </div>
                <button type="button" class="btn btn-info" id="last_page_to_m">上一页</button>
                <button type="button" class="btn btn-info" id="init">获取</button>
                <button type="button" class="btn btn-info" id="next_page_to_m">下一页</button>
            {% endif %}
            <p>
                <button type="button" class="btn btn-info" id="last_page_to">
                    上一页
                </button>
                <button value="{{ page_info.min_page_index }}"
                        class="btn btn-default"
                        id="min_page_index">{{ page_info.min_page_index }}</button>

                <input name="to_page" id="page_id"
                       value="{{ page_info.page_id }}" type="number"
                       class="btn btn-default">

                <button type="button" class="btn btn-default" id="to_page"
                        value="{{ page_info.count }}">跳转
                </button>
                <button value="{{ page_info.max_page_index }}"
                        class="btn btn-default"
                        id="max_page_index">{{ page_info.max_page_index }}</button>
                <button type="button" class="btn btn-info" id="next_page_to">
                    下一页
                </button>
                <a href="{{ url_for('get_detail', d_type='movie') }}"></a>
            </p>
        </div>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ url_for('static',filename='js/jquery-3.3.1.js') }}"></script>
        <script src="{{ url_for('static',filename='js/page_util.js') }}"></script>
        <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
        <script>
            page_util(get_url_path());

            $('#sousuo').click(function () {
                var userId = String($('#user_search_id').val());
                var search_url = get_url_path() + "?user_search_id=" + userId + "&time=1212";
            })

            {#bar_movie(url)#}
            var page_index = 1;
            var page_count = 10;
            var max = 20

            $('#init').click(function () {
                var url='http://127.0.0.1:5000/get_total_movie?page='+1+'&count='+10;
                bar_movie(url)
                console.log(url)
            })
            $('#next_page_to_m').click(function(){
                if (page_index > max){
                    page_index = max;
                } else {
                    page_index += 1;
                }
                var url='http://127.0.0.1:5000/get_total_movie?page='+page_index+'&count='+10;
                bar_movie(url)
            })
            $('#last_page_to_m').click(function(){
                if (page_index < 1){
                    page_index = 1;
                } else {
                    page_index -= 1
                }
                var url='http://127.0.0.1:5000/get_total_movie?page='+page_index+'&count='+10;
                bar_movie(url)
            })

        </script>
    </div>
</div>

</body>
</html>
