<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item.css') }}">
</head>
<body>

	<div class="clear"></div>

	<div class="footer">
		<div class="main">
			<div class="clear"></div>
			<div class="footBarL">
				<ul>
					<li><a href="">关于我们</a></li>
					<li><a href="">服务条款</a></li>
					<li><a href="">用户服务协议</a></li>
					<li><a href="">隐私政策</a></li>
					<li><a href="">权利申明</a></li>
					<li><a href="">客服中心</a></li>
					<li><a href="">网址导航</a></li>
					<li><a href="">广告服务</a></li>
				</ul>
				<div class="clear"></div>
				<pre>Copyright © 1998 - 2020 Tencent. All Rights Reserved.</pre>
				<pre> <a href="">马尔扎哈公司版权所有FGGHD许可证</a> <a href=""></a></pre>
			</div>
		</div>
	</div>
</body>
</html>
