<footer class="footer">
    <div class="container">
        <div class="footBarL">

{#            <ul>#}
{#                <li><a href="">关于我们</a></li>#}
{#                <li><a href="">服务条款</a></li>#}
{#                <li><a href="">用户服务协议</a></li>#}
{#                <li><a href="">隐私政策</a></li>#}
{#                <li><a href="">权利申明</a></li>#}
{#                <li><a href="">客服中心</a></li>#}
{#                <li><a href="">网址导航</a></li>#}
{#                <li><a href="">广告服务</a></li>#}
{#            </ul>#}
            <p class="text-muted">鸣谢 @ 本网站基于 bootstrap 设计开发 </p>
            <p class="text-muted">Copyright © 2021 Chen Ying Tao. All Rights Reserved.</p>
            <p class="text-muted"> <a href="">本毕业设计网站拥有版权所有许可证</a> <a href=""></a></p>
        </div>
    </div>
</footer>
