<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="chen ying tao">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="index of movie navigation">
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title> index {{ username }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/item.css') }}">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.css') }}"
          media="all"/>


    <!--local CSS-->
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}" media="all"/>


</head>
<body>
{% include 'navbar.html' %}
<div class="clearfix"></div>
{#{% include 'banner.html' %}#}
<br>
<div class="clearfix"></div>
{% include 'contend.html' %}
<div class="clearfix"></div>

{% include 'footer.html' %}

<script src="{{ url_for('static', filename='js/holder.min.js') }}"></script>
</body>
<script src="{{ url_for('static', filename='js/page_util.js') }}"></script>
<script>
    page_util(get_url_path());

    $('#sousuo').click(function () {
        var userId = String($('#user_search_id').val());
        var search_url = get_url_path() + "?user_search_id=" + userId + "&time=1212";
    })
</script>
</html>
