<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>用户登录</title>

    <link rel="icon" href="../../favicon.ico">
    <!-- Bootstrap core CSS -->
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.css') }}"
          media="all"/>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/signin.css') }}"
          rel="stylesheet">
</head>

<body>
{% if login_page %}
    {% block login %}
    {% endblock %}
{% endif %}
{% if sign_page %}
    {% block sign %}
    {% endblock %}
{% endif %}
{% if forget_pwd %}
    {% block change_pwd %}
    {% endblock %}
{% endif %}
{#<script href="{{ url_for('static' 'js/jquery-3.3.1.js') }}"></script>#}
</body>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
<script>

    function valid_pwd(){
        var sign_pwd = $('#sign_password').val()
        var sign_2_pwd = $('#doublePassword').val()
        if (sign_2_pwd != sign_pwd) {
            alert("两次密码不一致")
            $('#doublePassword').val('')
        }
    }

    {#$('#sign_password').change(valid_pwd)#}
    $('#doublePassword').change(valid_pwd)

    $('#sign_username').change(function () {
        var input_msg = $('#sign_username').val()
        if (input_msg == ""){
            alert("用户名为空")
        }

        $.ajax({
            url: '/valid_name',
            data: JSON.stringify({
                'username': input_msg,
            }),
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data['success']){

                } else {
                    alert(data['reason'])
                }

            }
        })
    })

    function login() {
        var nick = $('#nick').val();
        if (nick === '') {
            alert('昵称不能为空！');
            return
        }
        $.ajax({
            url: '/login',
            data: JSON.stringify({
                'nick': nick
            }),
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                if (!data['success']) {
                    alert(data['reason'])
                } else {
                    window.location.replace('/room')
                }
            }
        })
    }


</script>
</html>
