
<div class="header">
<div class="main">
<div class="nav">
<h1><a href="html.html"><img src="img/logo2.png" alt=""></a></h1>
<ul class='hednav'>
<li class="grebtn">学习总结</li>
<li><a href="tdzs.html">团队展示</a></li>
<li><a href="blog.html">认识HTML5</a></li>
<li><a href="kczj.html">学习总结</a></li>
<li><a href="yuan.html">自学展示</a></li>
</ul>
<div class="login">
<ul class='hednav'>
<li><a href="login.html">登录</a></li>
<li>了解更多</li>
<li>关于我们</li>
</ul>
</div>
<div class="clear"></div>
<ul class="subnav">
<li>电视剧</li><li>电影</li><li>综艺</li><li>动漫</li><li>纪录片</li>
<li>游戏</li><li>资讯</li><li>娱乐</li><li>财经</li><li>网络电影</li>
<li>片花</li><li>音乐</li><li>军事知识</li><li>教育</li><li>体育</li>
    <li>儿童</li><li>旅游</li><li>时尚</li><li>生活</li><li>汽车</li>
<li>搞笑</li><li>广告</li><li>原创</li><li>母婴</li><li>科技</li>
    <li>脱口秀</li><li>健康</li><li>更多</li>
</ul>
<ul class="subnav">
    <li>综合排序</li><li>热 播榜</li><li>好评榜</li><li>新上线</li>
</ul>
<ul class="subnav">
    <li>全部地区</li><li>华语</li><li>香港地区</li><li>美国</li>
    <li>欧洲</li><li>韩国</li><li>日本</li><li>泰国</li><li>印度</li><li>其它</li>
</ul>
<ul class="subnav">
    <li>全部类型</li><li>喜 剧</li><li>爱情</li><li>动作</li><li>枪战</li>
    <li>犯罪</li><li>惊悚</li><li>恐怖</li><li>悬疑</li><li>动画</li>
    <li>家庭</li><li>奇幻</li><li>魔幻</li><li>科幻</li><li>战争</li><li>青春</li><li>更多</li>
</ul>
<ul class="subnav">
    <li>全部规格</li><li>巨制</li><li>院线</li><li>独播</li><li>网络电影</li>
</ul>
<ul class="subnav">
    <li>全部年份</li><li>2021</li><li>2020</li><li>2019</li>
    <li>2018</li><li>2017</li><li>2016</li><li></li><li>2011</li><li>2010</li>
    <li>2000</li><li>90年代</li><li>80年代</li><li>更早</li>
</ul>
<ul class="subnav">
    <li>全部资费</li><li>免费</li><li>付费</li>
</ul>
<ul class="subnav">
    <li>还可以搜</li><li>鬼片</li><li>丧尸</li><li>周星驰</li><li>成龙</li>
    <li>刘德华</li><li>儿童</li><li>复仇者联盟</li><li>冰雪奇缘</li><li>钢铁侠</li>
</ul>
</div>

</div>
</div>
