<!--navigation-->
<div id="navg" class="top-nav">
    <div class="container">
        <div class="navbar-header logo">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">导航条</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 class="wow bounceIn animated" data-wow-delay="0.5s"><a
                    href="index2.html">Movie Navigation</a></h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left cl-effect-5">
                <li class="active"><a href="index2.html"><span
                        data-hover="首页">首页</span></a></li>
                {% for i in title %}
                    <li><a href="{{ i.url }}" class="scroll"><span data-hover="{{ i.title }}">{{ i.title }}</span></a></li>
                {% endfor %}
                <li class="phn-no wow fadeInRight animated"
                    data-wow-delay="0.5s"><h4> 400-0000-0000</h4></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--end navigation-->
